@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

/* Customize the wallet button styles */
.wallet-adapter-button-trigger,
.wallet-adapter-button {
  background-color: #0b1a1c !important; /* Dark background color */
  color: white !important; /* White text */
  border-radius: 8px !important; /* Rounded corners */
  border: none !important; /* Remove border */
  padding-left: 16px !important;
  padding-right: 16px !important;
}

/* Customize hover behavior */
.wallet-adapter-button-trigger:hover,
.wallet-adapter-button:hover {
  background-color: #1a2b2d !important; /* Darker background on hover */
  color: white !important; /* Ensure text remains white */
}